<ion-header>
    <ion-toolbar>
        <ion-title>beer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Lecka Biersche trinka</ion-card-subtitle>
            <ion-card-title>Biersche</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            I bin der Achim. I sitz so da, am Computer, und hab da ne Flasche
            Bier, aber trinke ned so viel, ich nippe nur dran.
            <ion-fab-button (click)="onBierClick()">Bier</ion-fab-button>
        </ion-card-content>
    </ion-card>
</ion-content>
